<div class="mastermind">
	<div id="gameBoard">
		<table id="gameLine">
			<col width="22.5%" />
    		<col width="22.5%" />
    		<col width="22.5%" />
    		<col width="22.5%" />
    		<col width="5%" />
    		<col width="5%" />
			<tr>
				<td ROWSPAN="2"><div class="cercleCouleur"></div>
				</td>
				<td ROWSPAN="2"><div class="cercleCouleur"></div>
				</td>
				<td ROWSPAN="2"><div class="cercleCouleur"></div>
				</td>
				<td ROWSPAN="2"><div class="cercleCouleur"></div>
				</td>
				<td><div class="pion"></div>
				</td>
				<td><div class="pion"></div>
				</td>
			</tr>
			<tr>
				<td><div class="pion"></div>
				</td>
				<td><div class="pion"></div>
				</td>
			</tr>
		</table>
		<table id="gameLine">
			<col width="22.5%" />
    		<col width="22.5%" />
    		<col width="22.5%" />
    		<col width="22.5%" />
    		<col width="5%" />
    		<col width="5%" />
			<tr>
				<td ROWSPAN="2"><div class="cercleCouleur"></div>
				</td>
				<td ROWSPAN="2"><div class="cercleCouleur"></div>
				</td>
				<td ROWSPAN="2"><div class="cercleCouleur"></div>
				</td>
				<td ROWSPAN="2"><div class="cercleCouleur"></div>
				</td>
				<td><div class="pion"></div>
				</td>
				<td><div class="pion"></div>
				</td>
			</tr>
			<tr>
				<td><div class="pion"></div>
				</td>
				<td><div class="pion"></div>
				</td>
			</tr>
		</table>
		<table id="gameLine">
			<col width="22.5%" />
    		<col width="22.5%" />
    		<col width="22.5%" />
    		<col width="22.5%" />
    		<col width="5%" />
    		<col width="5%" />
			<tr>
				<td ROWSPAN="2"><div class="cercleCouleur"></div>
				</td>
				<td ROWSPAN="2"><div class="cercleCouleur"></div>
				</td>
				<td ROWSPAN="2"><div class="cercleCouleur"></div>
				</td>
				<td ROWSPAN="2"><div class="cercleCouleur"></div>
				</td>
				<td><div class="pion"></div>
				</td>
				<td><div class="pion"></div>
				</td>
			</tr>
			<tr>
				<td><div class="pion"></div>
				</td>
				<td><div class="pion"></div>
				</td>
			</tr>
		</table>
		<table id="gameLine">
			<col width="22.5%" />
    		<col width="22.5%" />
    		<col width="22.5%" />
    		<col width="22.5%" />
    		<col width="5%" />
    		<col width="5%" />
			<tr>
				<td ROWSPAN="2"><div class="cercleCouleur"></div>
				</td>
				<td ROWSPAN="2"><div class="cercleCouleur"></div>
				</td>
				<td ROWSPAN="2"><div class="cercleCouleur"></div>
				</td>
				<td ROWSPAN="2"><div class="cercleCouleur"></div>
				</td>
				<td><div class="pion"></div>
				</td>
				<td><div class="pion"></div>
				</td>
			</tr>
			<tr>
				<td><div class="pion"></div>
				</td>
				<td><div class="pion"></div>
				</td>
			</tr>
		</table>
		<table id="gameLine">
			<col width="22.5%" />
    		<col width="22.5%" />
    		<col width="22.5%" />
    		<col width="22.5%" />
    		<col width="5%" />
    		<col width="5%" />
			<tr>
				<td ROWSPAN="2"><div class="cercleCouleur"></div>
				</td>
				<td ROWSPAN="2"><div class="cercleCouleur"></div>
				</td>
				<td ROWSPAN="2"><div class="cercleCouleur"></div>
				</td>
				<td ROWSPAN="2"><div class="cercleCouleur"></div>
				</td>
				<td><div class="pion"></div>
				</td>
				<td><div class="pion"></div>
				</td>
			</tr>
			<tr>
				<td><div class="pion"></div>
				</td>
				<td><div class="pion"></div>
				</td>
			</tr>
		</table>
		<table id="gameLine">
			<col width="22.5%" />
    		<col width="22.5%" />
    		<col width="22.5%" />
    		<col width="22.5%" />
    		<col width="5%" />
    		<col width="5%" />
			<tr>
				<td ROWSPAN="2"><div class="cercleCouleur"></div>
				</td>
				<td ROWSPAN="2"><div class="cercleCouleur"></div>
				</td>
				<td ROWSPAN="2"><div class="cercleCouleur"></div>
				</td>
				<td ROWSPAN="2"><div class="cercleCouleur"></div>
				</td>
				<td><div class="pion"></div>
				</td>
				<td><div class="pion"></div>
				</td>
			</tr>
			<tr>
				<td><div class="pion"></div>
				</td>
				<td><div class="pion"></div>
				</td>
			</tr>
		</table>
		<table id="gameLine">
			<col width="22.5%" />
    		<col width="22.5%" />
    		<col width="22.5%" />
    		<col width="22.5%" />
    		<col width="5%" />
    		<col width="5%" />
			<tr>
				<td ROWSPAN="2"><div class="cercleCouleur"></div>
				</td>
				<td ROWSPAN="2"><div class="cercleCouleur"></div>
				</td>
				<td ROWSPAN="2"><div class="cercleCouleur"></div>
				</td>
				<td ROWSPAN="2"><div class="cercleCouleur"></div>
				</td>
				<td><div class="pion"></div>
				</td>
				<td><div class="pion"></div>
				</td>
			</tr>
			<tr>
				<td><div class="pion"></div>
				</td>
				<td><div class="pion"></div>
				</td>
			</tr>
		</table>
		<table id="gameLine">
			<col width="22.5%" />
    		<col width="22.5%" />
    		<col width="22.5%" />
    		<col width="22.5%" />
    		<col width="5%" />
    		<col width="5%" />
			<tr>
				<td ROWSPAN="2"><div class="cercleCouleur"></div>
				</td>
				<td ROWSPAN="2"><div class="cercleCouleur"></div>
				</td>
				<td ROWSPAN="2"><div class="cercleCouleur"></div>
				</td>
				<td ROWSPAN="2"><div class="cercleCouleur"></div>
				</td>
				<td><div class="pion"></div>
				</td>
				<td><div class="pion"></div>
				</td>
			</tr>
			<tr>
				<td><div class="pion"></div>
				</td>
				<td><div class="pion"></div>
				</td>
			</tr>
		</table>
		<table id="gameLine">
			<col width="22.5%" />
    		<col width="22.5%" />
    		<col width="22.5%" />
    		<col width="22.5%" />
    		<col width="5%" />
    		<col width="5%" />
			<tr>
				<td ROWSPAN="2"><div class="cercleCouleur"></div>
				</td>
				<td ROWSPAN="2"><div class="cercleCouleur"></div>
				</td>
				<td ROWSPAN="2"><div class="cercleCouleur"></div>
				</td>
				<td ROWSPAN="2"><div class="cercleCouleur"></div>
				</td>
				<td><div class="pion"></div>
				</td>
				<td><div class="pion"></div>
				</td>
			</tr>
			<tr>
				<td><div class="pion"></div>
				</td>
				<td><div class="pion"></div>
				</td>
			</tr>
		</table>
		<table id="gameLine">
			<col width="22.5%" />
    		<col width="22.5%" />
    		<col width="22.5%" />
    		<col width="22.5%" />
    		<col width="5%" />
    		<col width="5%" />
			<tr>
				<td ROWSPAN="2"><div class="cercleCouleur"></div>
				</td>
				<td ROWSPAN="2"><div class="cercleCouleur"></div>
				</td>
				<td ROWSPAN="2"><div class="cercleCouleur"></div>
				</td>
				<td ROWSPAN="2"><div class="cercleCouleur"></div>
				</td>
				<td><div class="pion"></div>
				</td>
				<td><div class="pion"></div>
				</td>
			</tr>
			<tr>
				<td><div class="pion"></div>
				</td>
				<td><div class="pion"></div>
				</td>
			</tr>
		</table>
		<table id="gameLine">
			<col width="22.5%" />
    		<col width="22.5%" />
    		<col width="22.5%" />
    		<col width="22.5%" />
    		<col width="5%" />
    		<col width="5%" />
			<tr>
				<td ROWSPAN="2"><div class="cercleCouleur"></div>
				</td>
				<td ROWSPAN="2"><div class="cercleCouleur"></div>
				</td>
				<td ROWSPAN="2"><div class="cercleCouleur"></div>
				</td>
				<td ROWSPAN="2"><div class="cercleCouleur"></div>
				</td>
				<td><div class="pion"></div>
				</td>
				<td><div class="pion"></div>
				</td>
			</tr>
			<tr>
				<td><div class="pion"></div>
				</td>
				<td><div class="pion"></div>
				</td>
			</tr>
		</table>
		<table id="gameLine">
			<col width="22.5%" />
    		<col width="22.5%" />
    		<col width="22.5%" />
    		<col width="22.5%" />
    		<col width="5%" />
    		<col width="5%" />
			<tr>
				<td ROWSPAN="2"><div class="cercleCouleur"></div>
				</td>
				<td ROWSPAN="2"><div class="cercleCouleur"></div>
				</td>
				<td ROWSPAN="2"><div class="cercleCouleur"></div>
				</td>
				<td ROWSPAN="2"><div class="cercleCouleur"></div>
				</td>
				<td><div class="pion"></div>
				</td>
				<td><div class="pion"></div>
				</td>
			</tr>
			<tr>
				<td><div class="pion"></div>
				</td>
				<td><div class="pion"></div>
				</td>
			</tr>
		</table>
	</div>
</div>