

.mastermind{
	text-align: center;
	#gameBoard{
		width: 50%;
		display: inline-block;
		background: url(../assets/mastermind.jpg) repeat fixed 0 0;
		text-align: center;
		#gameLine{
			height: 8.333%;
			width: 100%;
			border-bottom: 1px solid black;
			text-align: center;
			td{
			   text-align: center;
			}
			.cercleCouleur{
				height: 90%;
				background-color: grey;
				border-radius:50%;
				display: inline-block;
				box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
			}
			.pion{
				height: 90%;
				background-color: grey;
				border-radius:50%;
				display: inline-block;
				box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
			}
		}
	}
}
